<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel Cache</key>
	<string>/macOS Install Data/Locked Files/Boot Files/BootKernelExtensions.kc</string>
	<key>Kernel Flags</key>
	<string>-no_panic_dialog -rootdmg-ramdisk auth-root-dmg=file:///macOS%20Install%20Data/BaseSystem.dmg lca-boot-mode=autoinstall-msu</string>
	<key>Root UUID</key>
	<string>Data Volume UUID folder that matches with Preboot UUID folder</string>
</dict>
</plist>
